In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
# get created market relation
df_markets = pd.read_csv('./csv_files/market_relation.csv', header = None) # header set to none so don't skip first row
n = len(df_markets)

# get created consumer relation
df_consumers = pd.read_csv('./csv_files/consumer_relation.csv', header = None) 
m = len(df_consumers)

print(n)
print(m)

100
700

In [3]:
# generate market reviews
consumer_id_col = []
market_id_col = []
market_rating_col = []

for i in range(0, m):
    qty_to_rate = random.randint(0, 3) # number of markets to rate
    
    for _ in range(0, qty_to_rate):
        rating = random.randint(1, 5)
        market_id = random.randint(0, n - 1)
        
        consumer_id_col.append(i)
        market_id_col.append(market_id)
        market_rating_col.append(rating)

In [4]:
d =  {'consumer_id': consumer_id_col, 
      'market_id': market_id_col,
      'rating': market_rating_col}

final_df = pd.DataFrame(data=d)

final_df

      consumer_id  market_id  rating
0               1         11       2
1               1          3       4
2               2         23       4
3               4         57       1
4               4         28       2
...           ...        ...     ...
1076          696         51       5
1077          697         87       1
1078          699         14       1
1079          699         85       2
1080          699         74       4

[1081 rows x 3 columns]

In [5]:
final_df = final_df.drop_duplicates(subset=['consumer_id', 'market_id'])
final_df

      consumer_id  market_id  rating
0               1         11       2
1               1          3       4
2               2         23       4
3               4         57       1
4               4         28       2
...           ...        ...     ...
1076          696         51       5
1077          697         87       1
1078          699         14       1
1079          699         85       2
1080          699         74       4

[1079 rows x 3 columns]

In [6]:
final_df.to_csv('./csv_files/market_reviews_relation.csv', index = False, header= False)