In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
# get list of product names
df_products = pd.read_csv('./src_csvs/product_names.csv', header = None).drop_duplicates().values # header set to none so don't skip first row
n = len(df_products)

# get created vendor relation
df_vendor = pd.read_csv('./csv_files/vendor_relation.csv', header = None) 
m = len(df_vendor)

print(n)
print(m)

110
850

In [3]:
df_products[0][0]

'Tomatoes'

In [4]:
# generate random reviews
vendor_id_col = []
product_name_col = []
product_price_col = []

for i in range(0, m):
    qty_of_products = random.randint(3, 10) # number of products a vendor sells
    
    for _ in range(0, qty_of_products):
        price = round(random.uniform(1.10, 5.5), 2)
        product_id = random.randint(0, n - 1)
        
        vendor_id_col.append(i)
        product_name_col.append(df_products[product_id][0])
        product_price_col.append(price)

In [5]:
d =  {'vendor_id': vendor_id_col, 
      'name': product_name_col,
      'price': product_price_col}

final_df = pd.DataFrame(data=d)

final_df

      vendor_id          name  price
0             0  Pomegranates   2.99
1             0       Lettuce   3.26
2             0         Beets   3.01
3             0    Pineapples   1.49
4             0      Cinnamon   4.49
...         ...           ...    ...
5531        849  Gooseberries   2.71
5532        849  Bell peppers   3.04
5533        849         Thyme   5.42
5534        849       Turnips   3.68
5535        849       Parsley   4.64

[5536 rows x 3 columns]

In [6]:
final_df = final_df.drop_duplicates(subset=['vendor_id', 'name'])
final_df

      vendor_id          name  price
0             0  Pomegranates   2.99
1             0       Lettuce   3.26
2             0         Beets   3.01
3             0    Pineapples   1.49
4             0      Cinnamon   4.49
...         ...           ...    ...
5531        849  Gooseberries   2.71
5532        849  Bell peppers   3.04
5533        849         Thyme   5.42
5534        849       Turnips   3.68
5535        849       Parsley   4.64

[5378 rows x 3 columns]

In [7]:
final_df.to_csv('./csv_files/products_relation.csv', index = False, header= False)