In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
# get created vendor relation
df_vendors = pd.read_csv('./csv_files/vendor_relation.csv', header = None) # header set to none so don't skip first row
n = len(df_vendors)

# get created consumer relation
df_consumers = pd.read_csv('./csv_files/consumer_relation.csv', header = None) 
m = len(df_consumers)

print(n)
print(m)

850
700

In [3]:
# generate random reviews
consumer_id_col = []
vendor_id_col = []
vendor_rating_col = []

for i in range(0, m):
    qty_to_rate = random.randint(0, 8) # number of vendors to rate
    
    for _ in range(0, qty_to_rate):
        rating = random.randint(1, 5)
        vendor_id = random.randint(0, n - 1)
        
        consumer_id_col.append(i)
        vendor_id_col.append(vendor_id)
        vendor_rating_col.append(rating)

In [4]:
d =  {'consumer_id': consumer_id_col, 
      'vendor_id': vendor_id_col,
      'rating': vendor_rating_col}

final_df = pd.DataFrame(data=d)

final_df

      consumer_id  vendor_id  rating
0               0        274       1
1               0        480       1
2               0        741       2
3               0        378       5
4               1         13       2
...           ...        ...     ...
2822          699        199       4
2823          699         13       3
2824          699        263       3
2825          699        808       4
2826          699        574       4

[2827 rows x 3 columns]

In [5]:
final_df = final_df.drop_duplicates(subset=['consumer_id', 'vendor_id'])
final_df

      consumer_id  vendor_id  rating
0               0        274       1
1               0        480       1
2               0        741       2
3               0        378       5
4               1         13       2
...           ...        ...     ...
2822          699        199       4
2823          699         13       3
2824          699        263       3
2825          699        808       4
2826          699        574       4

[2825 rows x 3 columns]

In [6]:
final_df.to_csv('./csv_files/vendor_reviews_relation.csv', index = False, header= False)