In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
# get created vendor relation
df_vendors = pd.read_csv('./csv_files/vendor_relation.csv', header = None) # header set to none so don't skip first row
n = len(df_vendors)

# get created consumer relation
df_markets = pd.read_csv('./csv_files/market_relation.csv', header = None) 
m = len(df_markets)

print(n)
print(m)

850
100

In [3]:
# generate hosts relation
market_id_col = []
vendor_id_col = []

for i in range(0, m):
    qty_to_host = random.randint(0, 15) # number of vendors a market is hosting
    
    for _ in range(0, qty_to_host):
        vendor_id = random.randint(0, n - 1)
        
        market_id_col.append(i)
        vendor_id_col.append(vendor_id)

In [4]:
d =  {'market_id': market_id_col, 
      'vendor_id': vendor_id_col}

final_df = pd.DataFrame(data=d)

final_df

     market_id  vendor_id
0            0        375
1            0        106
2            0         80
3            0        235
4            0        671
..         ...        ...
771         99        111
772         99        257
773         99        155
774         99        140
775         99        705

[776 rows x 2 columns]

In [5]:
final_df = final_df.drop_duplicates()
final_df

     market_id  vendor_id
0            0        375
1            0        106
2            0         80
3            0        235
4            0        671
..         ...        ...
771         99        111
772         99        257
773         99        155
774         99        140
775         99        705

[773 rows x 2 columns]

In [6]:
final_df.to_csv('./csv_files/hosts_relation.csv', index = False, header= False)