In [1]:
import pandas as pd
import numpy as np
import random
from collections import defaultdict

In [2]:
# get created product relation
df_products = pd.read_csv('./csv_files/products_relation.csv', header = None).values
n = len(df_products)

# get created hosts relation
df_hosts = pd.read_csv('./csv_files/hosts_relation.csv', header = None).values
m = len(df_hosts)

print(n)
print(m)

5378
773

In [3]:
df_products

array([[0, 'Pomegranates', 2.99],
       [0, 'Lettuce', 3.26],
       [0, 'Beets', 3.01],
       ...,
       [849, 'Thyme', 5.42],
       [849, 'Turnips', 3.68],
       [849, 'Parsley', 4.64]], dtype=object)

In [4]:
# make dictionary. vendor -> set of products they sell
# Ex: 12 -> {(apple, 1.24) (grapes, 2.31)}
vendor_product_dict = defaultdict(set)

for sample in df_products:
    vendor_id = sample[0]
    product = sample[1]
    price = sample[2]
    
    vendor_product_dict[vendor_id].add((product, price))

len(vendor_product_dict)

850

In [5]:
# make dictionary for market and vendors. market -> list of vendors it hosts
market_vendor_dict = defaultdict(list)

for sample in df_hosts:
    market_id = sample[0]
    vendor_id = sample[1]
    
    market_vendor_dict[market_id].append(vendor_id)
    
len(market_vendor_dict)

93

In [6]:
market_ids = sorted(list(market_vendor_dict.keys()))
market_col = []
vendor_col = []
product_col = []
price_col = []
qty_col = []

# add products from each respective vendor a market hosts to the on hand relation columns
for market_id in market_ids:
    for vendor_id in market_vendor_dict[market_id]:
        max_products = len(vendor_product_dict[vendor_id])
        num_products = random.randint(0, max_products)
        
        counter = 0 # keep track num of products we added
        for product, price in vendor_product_dict[vendor_id]: # set so we get random elements easily
            if counter >= num_products:
                break
            
            market_col.append(market_id)
            vendor_col.append(vendor_id)
            product_col.append(product)
            price_col.append(price)
            qty = random.randint(0, 20)
            qty_col.append(qty)
            
            counter += 1

In [7]:
print(len(market_col))
print(len(product_col))
print(len(price_col))
print(len(qty_col))

2528
2528
2528
2528

In [8]:
d =  {'market_id': market_col,
      'vendor_id': vendor_col, 
      'name': product_col,
      'price': price_col,
      'quantity': qty_col}

final_df = pd.DataFrame(data=d)

final_df

      market_id  vendor_id      name  price  quantity
0             0        375   Oranges   1.79         2
1             0        375    Lemons   3.37        11
2             0        375   Peaches   3.26        20
3             0        375   Peanuts   1.47         1
4             0        375      Peas   2.14        10
...         ...        ...       ...    ...       ...
2523         99        705    Guavas   3.42        20
2524         99        705  Bok choy   2.39         9
2525         99        705   Cabbage   4.05         2
2526         99        705    Fennel   3.56         6
2527         99        705  Zucchini   1.84         0

[2528 rows x 5 columns]

In [9]:
final_df = final_df.drop_duplicates()
final_df

      market_id  vendor_id      name  price  quantity
0             0        375   Oranges   1.79         2
1             0        375    Lemons   3.37        11
2             0        375   Peaches   3.26        20
3             0        375   Peanuts   1.47         1
4             0        375      Peas   2.14        10
...         ...        ...       ...    ...       ...
2523         99        705    Guavas   3.42        20
2524         99        705  Bok choy   2.39         9
2525         99        705   Cabbage   4.05         2
2526         99        705    Fennel   3.56         6
2527         99        705  Zucchini   1.84         0

[2528 rows x 5 columns]

In [10]:
final_df.to_csv('./csv_files/onhand_relation.csv', index = False, header= False)